# Web Framework & Database
flask
Flask-SQLAlchemy
psycopg2-binary
SQLAlchemy
python-dotenv

# Data Analysis & Science
numpy
pandas
matplotlib
seaborn

# Scraping & Automation
selenium
beautifulsoup4
lxml
requests

# Google Sheets Integration
gspread
gspread-dataframe
google-auth
oauth2client